@media only screen and (min-width: 768px) and (max-width: 991px) {
  .mainbox {
    max-width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;

    .info {
      width: 100%;
      height: max-content;
      display: flex;
      flex-direction: column;
      align-items: center;
      .logo {
        width: 128px;
      }

      .title {
        font-size: 24px;
        font-weight: 700;
        color: white;
        text-align: center;
        margin: 0;
        padding: 0;
      }
    }

    .box {
      width: 100%;
      height: max-content;
      display: flex;
      flex-direction: column;
      align-items: center;

      .success {
        color: #ffffff;
        font-size: 12px;
        text-align: center;
        margin-bottom: 8px;
        animation: sending 2s linear infinite;
        display: none;
      }

      .fillBox {
        width: 300px;
        height: 56px;
        padding: 0px 8px;
        border: 1px solid white;
        background-color: transparent;
        outline: none;
        color: white;
        border-radius: 5px;
        margin-bottom: 8px;
        font-size: 16px;
      }

      .submitBtn {
        padding: 16px 64px;
        color: white;
        font-size: 18px;
        font-weight: 600;
        background-color: $accent;
        border: 1px solid $accent;
        border-radius: 5px;
        outline: none;
        cursor: pointer;
        transition: background-color 0.3s ease;
        margin-bottom: 4px;

        &:hover {
          background-color: transparent;
        }
      }

      .send {
        color: $accent;
        text-decoration: none;
        font-size: 16px;
        transition: opacity 0.3s ease;

        &:hover {
          opacity: 0.75;
        }
      }
    }
  }
}
