@import 'partials/variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $bgColor;
    font-family: $font
}

@import "pc/pcAddMail";
@import "tablet/tabletAddMail";
@import "mobile/mobileAddMail";